/*colors*/
$clr-white: #FFFFFF;
$clr-light-blue: #4bcaff;
$clr-light-gray: #515f67;
$clr-dark-gray: #353f46;
$clr-dark-bg: #404a52;
$clr-bg-opacity: rgba(64, 74, 82, .8);

/*font-sizes*/
$fs-xbase: 0.75; //12px
$fs-base: 0.875rem; //14px
$fs-sm: 1.5rem;//24px
$fs-xmed: 1.75rem;//30px
$fs-med: 3.125rem;
$fs-big: 2.625rem;

/*font-families*/
$ff-sans: "Noto Sans", "sans-serif";

/*font-weight*/
$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;